body {
    background-color: bisque;
    /* background-color: cadetblue; */
}

h1 {
    color: cornflowerblue;
    /* color: #fff; */
    transition: color .5s ease-in-out;
}

.clicked {
/* .active { */
    color: tomato;
}

.sexy-font {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Courier New', Courier, monospace;
}